.orderSummary {
    border-top: solid 1px var(--effect-color);
    border-bottom: solid 1px var(--effect-color);
    padding: 3rem 0 2rem;
}

.textPriceContainer {
   display: flex;
   margin: 1rem 0;
   font-size: 1.2rem;
}

.text {
    flex: 1;
}

.price {
    width: max-content;
}

.totalCostContainer {
    margin-top: 2rem;
    padding: 1.5rem 0;
    font-weight: 600;
}

.h1 {
    font-weight: 500;
    margin: 0 0 2rem 0;
    text-align: center;
}

.buttonContainer {
    display: none;
}

@media (min-width: 910px) {
    .orderSummary {
        padding-bottom: 0;
    }

    .buttonContainer {
        box-sizing: border-box;
        width: 100%;
        display: block;
        margin: 3rem auto;
    }

    .totalCostContainer {
        border-top: solid 1px hsl(from var(--effect-color) h s l / .5);
        border-bottom: solid 1px hsl(from var(--effect-color) h s l / .5);
    }
}