.filterSection {
    padding: 10rem 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.search {
    display: flex;
    gap: 1rem;
    padding: 0 1.25rem;
    border-radius: 32px;
    border: solid 1px var(--dark-color);
    overflow: hidden;
}

.search:hover {
    background-color: var(--primary-color);
}

.searchIcon {
    margin: 1.25rem 0;
    width: 2rem;
    height: 2rem;
}

.input {
    flex: 1;
    border: none;
    font-size: 1.5rem;
    background-color: inherit;
}

.input:focus {
    outline: none;
}

.filter {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1.5rem;
}

.filterWrapper {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.filterWrapperSm {
    gap: 1rem;
    justify-content: start;
}

.filterOption {
    padding: 1.25rem;
    border-radius: 28px;
    background-color: var(--primary-color);
    border: solid 1px hsl(from var(--primary-color) h s calc(l - 10));
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.filterOptionSm {
    padding: .75rem;
    font-size: .8rem;
}

.selectedOption {
    transform: scale(1.15);
    background-color: var(--effect-color) !important;
    border: solid 1px hsl(from var(--effect-color) h s calc(l - 10)) !important;
}

.optionHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.subcategoriesBtn {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: fit-content;
}

.sortBtn {
    display: inline-block;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.dropdownContent {
    position: absolute;
    right: 0;
    width: max-content;
    padding: 1rem;
    background-color: var(--primary-color);
    border: solid 1px hsl(from var(--primary-color) h s calc(l - 10));
    border-radius: 18px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.p {
    margin: 0;
}

.arrowContainer {
    width: fit-content;
    height: fit-content;
    position: relative;
    top: .25rem;
}
