.reviewSection {
    position: relative;
    min-height: 100vh;
    padding: 5rem 0 10rem;
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    background-color: var(--primary-color);
}

.background {
    background-color: var(--dark-color);
}

.header {
    display: flex;
    align-items: center;
    height: 30rem;
}

.h1 {
    font-size: 4rem;
    margin: 0 auto;
    max-width: 80vw;
    letter-spacing: -.05rem;
    text-align: center;
}